DirectoryIndex index.php

Options -Indexes

<IfModule mod_headers.c>
    Header always set X-Robots-Tag "noindex, nofollow, noarchive, nosnippet"
</IfModule>

<FilesMatch "\.(sql|md|example)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
</FilesMatch>
